*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    background-color: seagreen;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.aa-it {
    text-align: left;
}

.ba-ge {
    text-align: left;
}

main > * {
    flex: 1;
    background-color: green;
    border: 10px solid black;
    border-radius: 0.5rem;
}

.education-and-skills-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.education-and-skills-background > * {
    flex: 1;
}

.skills-text-align > ul {
    text-align: left;
}

/*.experience {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.experience > * {
    flex: 1;
    flex-basis: 100%;
}*/

.experience h3 {
    text-align: center;
}

img {
    height: 350px;
    float: right;
    border: 5px solid;
}

@media (max-width: 500px) {
  .image-grid {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-content: center;
} 
  
  img {
        float: none;
        width: 100%;
    }

    .education-and-skills-background {

        flex-direction: column;
    }
}
